import type { RouteRecordRaw } from 'vue-router'
[% if auth_mode == 'opaque' %]
const LoginView = () => import('@/views/LoginView.vue')
[% endif %]

export const routes: RouteRecordRaw[] = [
  {
    path: '/',
    component: () => import('@/layouts/DefaultLayout.vue'),
    children: [
      {
        path: '',
        name: 'home',
        component: () => import('@/views/HomeView.vue'),
      },
    ],
  },
[% if auth_mode == 'opaque' %]
  {
    path: '/login',
    name: 'login',
    component: LoginView,
  },
[% endif %]
  {
    path: '/:pathMatch(.*)*',
    name: 'not-found',
    component: () => import('@/views/NotFoundView.vue'),
  },
]
